<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of Ticket who Have 0 capacity</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
  <script>
    const socket = io.connect('http://localhost:3001');
    socket.emit('demande');
    socket.on('ticketsWhoHave0Capacity', (tickets) => {
        const list = document.getElementById('list');
      tickets.forEach((ticket) => {
        const li = document.createElement('li');
        li.textContent = `Ticket ID: ${ticket._id} , Capacity: ${ticket.capacity}`;
        list.appendChild(li);
      })
      })
  </script>
</head>
<body>
    <h1>List of Ticket who Have 0 capacity</h1>
    <ul id="list"></ul>
  </body>